name: Deploy

on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::143873723946:role/github-actions-ecr-ecs-role
          aws-region: ap-south-1

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Image
        run: |
          IMAGE_URI=143873723946.dkr.ecr.ap-south-1.amazonaws.com/literature-review-assistant
          docker build -t $IMAGE_URI:latest .
          docker push $IMAGE_URI:latest

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            IMAGE_URI=143873723946.dkr.ecr.ap-south-1.amazonaws.com/literature-review-assistant
            docker pull $IMAGE_URI:latest
            docker stop app || true
            docker rm app || true
            docker run -d --name app -p 80:8000 $IMAGE_URI:latest
